.page_container {
  width:90%;
  margin: 0 auto;
}

.inner_container {
  border: 2px blue solid;
  margin-top: 8vh;
  height: 100px;
}

.over_flow_div {
  width: 100%;
  float: auto;
  margin-top:7%;
  height: 670px;
  overflow: auto;
  border: 2px red solid;
}

