.page_container {
  width:100%;
  margin: 0 auto;
  height: auto ;
  height: 100%;
  position: relative;
  padding-bottom: 3px;
}

.inner_container {
  height: 40px;
}

.over_flow_div {
  margin-top: -80px;
  width:100%;
  height:auto;
  overflow: auto;
  margin-bottom: 30px;
  padding-bottom: 1.5rem; 
}

