.page_container {
  width:94%;
  margin: 0 auto;
  height: auto ;
  height: 100%;
  position: relative;
}

.inner_container {
  border: 2px blue solid;
  margin-top: 5vh;
  height: 100px;
}

.over_flow_div {
  width:100%;
  margin-top:4%;
  height:auto;
  min-height: calc(100vh - 70px);
  overflow: auto;
  border: 2px red solid;
  margin: 0 auto;
  padding-bottom: 2.5rem; 
}

