.navItem {
  color: black;
  padding-bottom: 10px;
  border-radius: 4px;
  font-size: large;
}

.navItem:hover {
  background-color: rgb(254, 173, 11);
  transition: 0.4s;
  color: white;
  text-decoration: none;
}

.navBar {
  max-width: "1270px";
  margin: "0 auto";
  background-color: rgb(254, 173, 11);
}

.dropItem:hover{
    background-color:rgb(254, 173, 11) ;
    color: white;
}

.navMenu{
    color: black;
    padding-bottom: 10px;
    border-radius: 4px;
    font-size: large;
}