.sidebar_container {
  width: 100%;
  float: left;
  margin-top: 40px;
}

.splitter1 {
  margin: 0 auto;
}

.splitter2 {
  margin: 0 auto;
}

.helloMessage {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-family:  Times New Roman Times serif;
  color: rgb(119, 113, 23)
}
