.login{
    border: tomato 4px solid;
    width:40%;
    margin:0 auto;
    font-size: x-large;
    text-align: center;
}

.err{
    text-align: center;
    color: red;
    font-size: medium;
}

@media(max-width:800px){
    .login{
        width: 100%;
        font-size: medium;
    }
}