.register{
    border-top: darkblue solid 3px;
    border-left: darkblue solid 3px;
    width:40%;
    margin:0 auto;
    font-size: x-large;
    text-align: center;
}

.err{
    text-align: center;
    color: red;
    font-size: medium;
}

@media(max-width:800px){
    .register{
        width: 100%;
        font-size: medium;
    }
}