.register{
    border: rgb(71, 203, 255) 4px solid;
    width:40%;
    margin:0 auto;
    font-size: x-large;
    text-align: center;
}

p{
    text-align: center;
    color: red;
    font-size: medium;
}

@media(max-width:800px){
    .register{
        width: 100%;
        font-size: medium;
    }
}