.link {
  color: white;
  text-align: center;
  padding: 20px;
  padding-right: 24px;
}

.link:hover {
  color: black;
  background-color: white;
  transition: 0.5s;
  border-radius: 45%;
}

.link:active{
  background-color: skyblue;
}
