.link {
  color: white;
  text-align: center;
  padding: 20px;
  padding-right: 24px;
}

.link:hover {
  color: black;
  font-size: 22px;
  background-color: white;
  border: rgb(29, 29, 211) 2px solid;
  transition: 0.5s;
}
